<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout/auth-default :: layout(~{:: title}, ~{:: article}, ~{:: link}, ~{:: script})}">
<head>
    <title>Login Page</title>
    <link/>
</head>
<body>
<article style="width:400px; align-self: center; align-items: center; margin-top: 30px;">
    <div style="align-self: flex-end;">
        <a class="button update" th:href="@{/auth/signUp}">회원가입</a>
    </div>

    <h1 style="margin-top: 50px">AOP LOGIN PAGE</h1>

    <form id="login_form" th:action="@{/auth/login}" method="post" style="width: 300px; align-items: center; margin-top: 50px;">
        <div class="float_label_group">
            <input type="text" id="username" name="username" maxlength="40" placeholder="ID" required />
            <label for="username" class="float_label">ID</label>
        </div>

        <div class="float_label_group">
            <input type="password" id="password" name="password" maxlength="200" placeholder="Password" required />
            <label for="password" class="float_label">Password</label>
        </div>

        <button class="update" type="submit" style="width: 281px;">로그인</button>
    </form>
</article>
</body>
<script th:inline="javascript">
    window.onload = function () {
        var errorMsg = [[${errorMessage}]];
        console.log(errorMsg);
        if(errorMsg) {
            alert(errorMsg);
            window.history.replaceState({}, document.title, window.location.pathname);
        }
    };
</script>
</html>