<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout/auth-default :: layout(~{:: title}, ~{:: article}, ~{:: link}, ~{:: script})}">

<head>
    <meta charset="UTF-8">
    <title>AOP SignUp Page</title>
    <link/>
</head>
<body>
<article style="width:400px; align-self: center; align-items: center; margin-top: 30px;">
    <div style="display: flex; flex-direction: row-reverse; justify-content: space-between; width: 100%;">
        <a class="button secondary" th:href="@{/auth/login}">로그인</a>
        <a class="button secondary" th:href="@{/main}" sec:authorize="isAuthenticated()">메인화면</a>
    </div>

    <h1 style="margin-top: 50px">AOP SIGN UP PAGE</h1>

    <form id="signUpForm" class="default" method="post" th:action="@{/auth/signUp}" style="width: 300px; align-items: center; margin-top: 50px;">
        <div class="float_label_group">
            <input type="text" id="username" name="username" maxlength="40" placeholder="ID" />
            <label for="username">ID</label>
        </div>
        <div class="float_label_group">
            <input type="password" id="password" name="password" maxlength="200" placeholder="PW" />
            <label for="password">PW</label>
        </div>
        <div class="float_label_group">
            <input type="text" id="name" name="name" maxlength="40" placeholder="NAME" />
            <label for="name">NAME</label>
        </div>
        <button type="submit" style="width: 281px;">가입하기</button>
    </form>
</article>
</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let errorMsg = [[${errorMessage}]];
        if(errorMsg) {
            alert(errorMsg);
        }
    });
</script>
</html>