<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form th:action="@{/sign/login}" method="post">
    <label for="userId">관리자로 등록할 사용자 ID: </label>
    <input type="text" id="userId" name="userId" maxlength="40" />
    
    <button type="button">검색</button>

    <label for="role">부여할 권한 : </label>
    <select id="role" name="role">
        <option selected>1</option>
        <option>2</option>
        <option>3</option>
    </select>

    <button type="submit">등록</button>
</form>
<a th:href="@{/}">메인화면</a>
</body>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        let errorMsg = [[${errorMessage}]];
        if(errorMsg) {
            alert(errorMsg);
            window.history.replaceState({}, document.title, window.location.pathname);
        }
    });

</script>
</html>