<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="defaultLayout(title, content, link, script)">

<!--common head-->
<th:block th:replace="~{fragments/head :: headFragment(${title}, ${link})}"></th:block>

<body id="page-top">
<div id="wrapper">
    <!--header-->
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <div id="content-wrapper">
        <!--aside-->
        <th:block th:replace="~{fragments/aside :: asideFragment}"></th:block>
            <!--content-->
            <div id="content">
                <th:block th:replace="${content}"></th:block>
            </div>
    </div>
    <!--common footer-->
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</div>

<!--common script-->
<th:block th:replace="~{fragments/script :: scriptFragment(${script})}"></th:block>
</body>
</html>