<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
</head>
<body>
    <form id="signUpForm" method="post" th:action="@{/sign/signUp}">
        <label for="username">ID</label>
        <input type="text" id="username" name="username" maxlength="40" />
        <label for="password">PW</label>
        <input type="password" id="password" name="password" maxlength="200" />
        <label for="name">NAME</label>
        <input type="text" id="name" name="name" maxlength="40" />
        <button type="submit" value="전송">회원가입</button>
    </form>
</body>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let errorMsg = [[${errorMessage}]];
        if(errorMsg) {
            alert(errorMsg);
        }
    });
</script>
</html>