<head th:fragment="headFragment(title, link)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:replace="${title}"></title>

    <link th:href="@{/styles/aop/aop.css}" rel="stylesheet" />
    <link th:href="@{/styles/aop/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/aop/aside.css}" rel="stylesheet" />
    <link th:href="@{/styles/aop/footer.css}" rel="stylesheet" />
    <th:block th:replace="${link}"></th:block>
</head>
