<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>
<body>
<header>
    <h1>
            <span th:if="${#authentication.authenticated}">
                LOGIN USER: <span id="loginUserName" th:text="${#authentication.name}"></span>
                USER ROLE: <span id="userRole" th:text="${#authentication.authorities}"></span>
            </span>
            <span th:unless="${#authentication.authenticated}">
                NOT LOGGED IN
            </span>
    </h1>
    <pre th:text="${#authentication}"></pre>
</header>
<nav>
        <span th:if="${#authentication.authenticated}">
            <a th:href="@{/sign/logout}" id="logout">로그아웃</a>
        </span>
    <span th:unless="${#authentication.authenticated}">
            <a th:href="@{/sign/login}" id="login">로그인</a>
        </span>
</nav>
</body>
</html>