/* S:reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    font-size: 1.25rem;
    font-weight: bold;
}
/* E:reset */
/* table */
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
/* S:button */
/* 기본 버튼 */
button,
.button {
    align-self: flex-end;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

/* 세컨더리 버튼 */
button.secondary,
.button.secondary {
    background-color: #6c757d; /* 회색 */
    color: #fff; /* 흰색 텍스트 */
}

/* 성공 버튼 */
button.success,
.button.success {
    background-color: #28a745; /* 녹색 */
    color: #fff; /* 흰색 텍스트 */
}

/* 경고 버튼 */
button.warning,
.button.warning {
    background-color: #ffc107; /* 노란색 */
    color: #212529; /* 진한 회색 텍스트 */
}

/* 위험 버튼 */
button.danger,
.button.danger {
    background-color: #dc3545; /* 빨간색 */
    color: #fff; /* 흰색 텍스트 */
}

/* 정보 버튼 */
button.info,
.button.info {
    background-color: #17a2b8; /* 청록색 */
    color: #fff; /* 흰색 텍스트 */
}

/* 다크 버튼 */
button.dark,
.button.dark {
    background-color: #343a40; /* 진한 회색 */
    color: #fff; /* 흰색 텍스트 */
}

/* 밝은 버튼 */
button.light,
.button.light {
    background-color: #f8f9fa; /* 밝은 회색 */
    color: #212529; /* 진한 회색 텍스트 */
}

button:hover,
.button:hover {
    opacity: 0.8;
}
/* E:button */

/* input */
input {
    padding: 0 10px;
    height: 32px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

label {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

/* form */
form {
    display: flex;
    flex-direction: column;
}

/* float label */
.float_label {
    text-align: left;
}

.float_label_group {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

.float_label_group label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease-out;
    padding: 0 5px;
    z-index: 1;
}

.float_label_group input:focus + label,
.float_label_group input:not(:placeholder-shown) + label {
    font-size: 0.7em;
    color: rgba(70, 130, 180, 0.7);
    transform: translateY(-100%) scale(0.8);
}

.float_label_group input {
    width: 90%;
    padding: 20px 5px 10px 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.2s ease-in-out;
    font-size: 1em;
    margin: 0 5px;
}

.float_label_group input:focus {
    outline: none;
    border-color: #4e73df;
}

.float_label_group input::placeholder {
    color: transparent;
}

/* css */
.flex_div {
    display: flex;
}
