aside {
    width: 250px;
    background-color: #495057;
    color: #ffffff;
    padding: 4px;
}
aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

aside ul li a {
    text-decoration: none;
    color: #000;
    display: block;
}

aside ul li:hover {
    background-color: #e9ecef;
}

aside ul li.active {
    background-color: #007bff;
}

aside ul li.active a {
    color: #fff;
}